/* Fuentes */

@font-face{
  font-family: 'Poppins';
  src: url('fonts/Poppins-ExtraBold.ttf');
}

@font-face{
  font-family: 'Poppins-Bold';
  src: url('fonts/Poppins-Bold.ttf');
}


/* Desktop */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: #5b57f2;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container-card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(1200px, 80%);
    margin: auto;
    border-radius: 2rem;
}

.container-card .title{
    font-family: 'Poppins';
    position: relative;
    margin: 2.5rem 0px 2.5rem 0;
}

.container-card .title::after{
  height: 4px;
  display: block;
  background: #26c281;
  margin: auto;
  content: '';
  width: 20%;
  margin-top: 10px;
  border-radius: 20px;
}

.btn-toggle{
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 3px 11px 3px rgb(0 0 0 / 12%);
  -moz-box-shadow: 0px 3px 11px 3px rgb(0 0 0 / 12%);
  box-shadow: 0px 3px 11px 3px rgb(0 0 0 / 12%);
  margin-bottom: 2rem;
}

.btn-toggle button{
  border: none;
  background-color: #e7faf4;
  color: #26c281;
  padding: 12px 35px;
  border-radius: 4rem;
  font-size: 15px;
  cursor: pointer;
}

.btn-toggle button:focus{
  outline: none;
  background-color: #26c281;
  color: #fff;
  border: solid 1px #26c281;
  transition: .3s linear;
  box-shadow: none;
}

.container-options{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1200px, 80%);
  height: 620px;
  margin: auto;
}

.item-pricing{
  flex: 1;
  max-width: 350px;
  max-height: 550px;
  background-color: #fff;
  margin: 20px 10px;
  text-align: center;
  color: #2d2d2d;
  transition: .3s linear;
  border-radius: 2.5rem;
  -webkit-box-shadow: 0px 3px 11px 3px rgb(0 0 0 / 12%);
  -moz-box-shadow: 0px 3px 11px 3px rgb(0 0 0 / 12%);
  box-shadow: 0px 3px 11px 3px rgb(0 0 0 / 12%);
}

.item-pricing-title{
  font-family: 'Poppins';
  padding: 25px 30px;
  font-size: 20px;
  font-weight: 700;
}

.icon-pricing{
  width: 70px;
  height: 70px;
  background: #26c281;
  color: #fff;
  border-radius: 50%;
  padding: 20px;
  font-size: 25px;
}

.price{
  font-family: 'Poppins-Bold';
  font-size: 45px;
  color: #000;
  margin: 15px 0;
  transition: .2s linear;
}

.price span{
  font-size: 13px;
  font-weight: 500;
  color: #afb6c6;
}

.item-pricing li{
  font-size: 16px;
  padding: 10px 0;
  color: #afb6c6;
}


.sing-up-btn{
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 30px;
  background: #26c281;
  color: #fff;
  padding: 20px 90px;
  border-radius: 3rem;
  font-weight: 500;
  transition: .4s linear;
}

.sing-up-btn:hover{
  background-color: #fff;
  color: #26c281;
  border: solid 1px #26c281;
}

.hidden {
  display: none;
}

/* Mobile (Smartphones) */

@media only screen and (min-width : 321px) and (max-width: 430px) {
  body{
    min-height: none;
    margin: 1rem 0 1rem 0;
  }

  .container-card .title{
    font-size: 25px;
    padding-top: 25px;
  }

  .btn-toggle{
    padding: 5px 5px;
    margin-bottom: 1rem;
  }

  .container-options{
    height: auto;
    width: auto;
  }

  .item-pricing-title {
    padding: 20px 0px;
  }

  .icon-pricing {
    width: 65px;
    height: 65px;
  }

  .price{
    font-size: 40px;
    margin: 12px 0px;
  }

  .item-pricing{
    width: 250px;
  }

  .sing-up-btn{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px 60px;
  }
}

/* Telefonos moviles de mayor resolución y Tablets de baja resolución */

@media (min-width: 430px) and (max-width: 767px) {

  body{
    min-height: none;
    margin: 1rem 0 1rem 0;
  }

  .container-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .item-pricing{
    width: 275px;
  }
}


@media (min-width: 530px) and (max-width: 767px) {
  
  .item-pricing{
    width: 320px;
  }

}


/* Tablets, iPads y Monitores de baja resolución */
@media (min-width : 768px) and (max-width : 1000px) {
  
  body{
    min-height: none;
    margin: 1rem 0 1rem 0;
  }

  .container-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .item-pricing{
    width: 450px;
  }
}

@media (min-width : 1000px) and (max-width : 1086px){
  
  body{
    min-height: none;
    margin: 1rem 0 1rem 0;
  }
  
  .container-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    flex-flow: wrap;
  }
}

@media (min-width : 1086px) and (max-width : 1224px){

  .sing-up-btn{
    padding: 20px 60px;
  }
}